doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Submitted!
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css")
        link(rel="stylesheet", href="../static/css/done.css")
        link(rel="stylesheet", href="../static/css/style.css")


    body 
        .wrapper
            .container 
                i.fas.fa-check-circle
                h3 Form has been submitted successfully! Our team will respond you on given email address very soon.
                a(href="/") Back to Home 
